.root {
  font-family: Arial, Helvetica, sans-serif;
}
.hero {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 524px;
  background: rgba(255, 255, 255, 0);
}
h1 {
  font-family: "Tenor Sans", sans-serif;

  font-size: 58px;

  text-align: right;

  color: #0c0d15;
}
p {
  max-width: 100%;
  font-family: "Marcellus", serif;
  font-size: 24px;
  line-height: 36px;
  color: #56565f;
}
a {
  font-family: "Marcellus", serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 27px;
  color: #0c0d15;
}
.button {
  display: block;
  margin: 0 auto;
  max-width: 150px;
  border-radius: 10px;
}
