h1 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 36pt;

  color: #0c0d15;
}

h2 {
  font-family: "Marcellus", serif;
  font-size: 24pt;

  color: #0c0d15;

  margin-top: 50px;
}
h3 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 16pt;
  color: #56565f;
}
p {
  font-family: "Marcellus", serif;
  font-size: 14pt;
  color: #56565f;

  text-align: justify;
}
h4 {
  font-size: 48px;
}
.about-project {
  color: #56565f;
  text-align: justify;
  display: flex;
  justify-content: center;
}
video {
  max-height: 75%;
}
.contact-button {
  font-size: 14pt;
  border-radius: 5px;
  border: solid 1px rgb(155, 8, 192);
  padding: 15px 30px;
  background-color: #fff;
  color: rgb(155, 8, 192);
}
.launch-button {
  font-size: 14pt;
  border-radius: 5px;
  border: solid 1px rgb(155, 8, 192);
  padding: 15px 30px;
  background-color: #fff;
  color: rgb(155, 8, 192);
  margin-top: 30px;
}
.button-footer {
  font-size: 14pt;
  border-radius: 5px;
  border: solid 1px rgb(155, 8, 192);
  padding: 15px 30px;
  background-color: rgb(155, 8, 192);
  color: white;
  margin-left: 50px;
}

nav {
  padding: 20px 0;
}
nav li {
  list-style: none;
  display: inline;
  line-height: 42px;
  margin-left: 15px;
}
nav ul {
  font-family: "Tenor Sans", sans-serif;

  font-weight: 900;
  padding: 0;
  margin: 0;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover {
  text-decoration: none;
  color: purple;
}

nav li.active a {
  color: purple;
}

footer {
  margin: 60px 0;
}
footer .contact-box {
  background: plum;
  padding: 30px 120px;
  border-radius: 10px;
}
.email {
  color: #0c0d15;
  font-family: "Tenor Sans", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.email:hover {
  color: purple;
  text-decoration: none;
}

footer .social-media a {
  margin: 0 20px;
  color: purple;
  background: plum;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 18px;
}
footer .social-media a:hover {
  color: #fff;
  background: purple;
}
footer .contact-box p {
  margin: 0;
}
footer .contact-box h4 {
  margin: 0;
}
