h1 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 36pt;
  color: #0c0d15;
}
h2 {
  font-family: "Marcellus", serif;
  font-size: 24pt;
  color: #0c0d15;
}
p {
  font-family: "Marcellus", serif;
  font-size: 18pt;
  color: #56565f;
}
.launch-button {
  font-family: "Marcellus", serif;
  font-size: 18pt;
  color: #0c0d15;
}

video {
  max-height: 75%;
}
.footer {
  background-color: #dfdfec;
  border-radius: 25px;
}

.social-media {
  font-family: "Tenor Sans", sans-serif;
  font-size: 18pt;

  display: flex;
  justify-content: space-evenly;
  max-width: 50%;
}

.title-footer {
  font-size: 36pt;
  text-align: left;
}

.email {
  font-family: "Tenor Sans", sans-serif;
  font-size: 18pt;
}
